@{

    ViewData["Title"] = "Email Page";
}
@model IEnumerable<CardModel> 

    @{
        ViewBag.Title = "Email";
    }


<script type="text/javascript">
   

    function addEmail() {
        var wut = "wut";
        console.log(wut);
        //var label = document.createElement('label')
        //label.setAttribute("id", "label " + counter)
        //console.log('counter:', counter);
        //counter++;
        //var email = document.getElementById("email " + identivier).value
        //console.log('email:', email);
        //label.setAttribute("value", email)
        //console.log('identivier:', identivier)
        //document.getElementById("div "+identivier).appendChild(label)
    }

</script>


    @foreach (var card in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm" style="text-align:right">
                    <img src="@card.Image.ImagePath" width="100" height="140" />
                </div>
                <div id="div @card.Id" class="col-sm" style="text-align:left">

                </div>
                <div class="col-sm" style="text-align:left">
                    add Email Adress
                    <input type="text" id="email @card.Id" />
                    <input type="button" id="@card.Id" value="add email" class="btn btn-info" function="addEmail()" />
                </div>
            </div>
        </div>
    }
    
     <input type="button" value="add email" class="btn btn-info" function="addEmail()" />
    

    <input type="submit" value="verstuur kaarten" name="New" class="btn btn-primary" />
