@{

    ViewData["Title"] = "Email Page";
}
@model IEnumerable<CardModel> 

    @{
        ViewBag.Title = "Email";
    }

    @foreach (var card in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm" style="text-align:right">
                    <img src="@card.Image.ImagePath" width="100" height="140" />
                </div>
                <div class="col-sm" style="text-align:left">
                    <textarea></textarea>
                </div>
                <div class="col-sm" style="text-align:left">
                    add Email Adress
                    <input type="text" />
                    <input type="button" value="add email"class="btn btn-info" />
                </div>
            </div>
        </div>
    }

    <input type="submit" value="verstuur kaarten" name="New" class="btn btn-primary" />
