@{

    ViewData["Title"] = "Home Page";
}
@model CardModel

@{
    ViewBag.Title = "Home";
}

<script type="text/javascript">

    function load() {
        document.getElementById("DataColour").value = "#6e0d2c";
        url = document.getElementById("Default").src
        ChangeImage(url)
    }

    function ChangeImage(url) {
        document.getElementById("main").src = url;
        document.getElementById("DataUrl").value = url;
    }

    function textInput(value) {
        document.getElementById("CardText").value = value
        document.getElementById("CardText2").value = value
    }

    function textSize() {
        var size = document.getElementById("InputSize").value
        document.getElementById("CardText").style = "font-size:" + size + "px; ; color:inherit; font-family:inherit"
    }

    function ChangeColour(colour) {
        document.getElementById("CardColor").style = "color:" + colour
        document.getElementById("DataColour").value = colour;
    }


    function ChangeFont() {
        var style = document.getElementById("FontSelect").value
        if (style == 0) {
            document.getElementById("CardDiv").style = "font-family:'ThePerfectChristmas'"
        }
        else if (style == 1) {
            document.getElementById("CardDiv").style = "font-family:'christmabet'"
        }
        else if (style == 2) {
            document.getElementById("CardDiv").style = "font-family:'ChristmasLightsOutdoor'"
        }
        else if (style == 3) {
            document.getElementById("CardDiv").style = "font-family:'holly_and_berries'"
        }
        else if (style == 4) {
            document.getElementById("CardDiv").style = "font-family:'MerryChristmasFlake'"
        }
        else if (style == 5) {
            document.getElementById("CardDiv").style = "font-family:'PWChristmasfont'"
        }
        else {
            document.getElementById("CardDiv").style = "font-family:'PWHappyChristmas'"
        }
    }
</script>

<body onload="load();">

    <div class="text-center">
        <h1 class="display-4">Welcome to the Christmas Card generator(tm)</h1>
    </div>

    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img id="Default" src="~/Images/1.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="~/Images/2.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                    <br /><br />
                    <img src="~/Images/3.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="~/Images/4.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                    <br /><br />
                    <img src="~/Images/5.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="~/Images/6.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                </div>
                <div class="col-sm" style="text-align:center">
                    <img id="main" src="~/Images/WhiteSpace.jpg" width="350" height="490" />
                    <div id="CardDiv" style="font-family: 'ThePerfectChristmas' ">
                        @*<div id="CardColor" style="color:#6e0d2c">
                            <input type="text" id="CardText2" value="" readonly style="font-size:66px; color:inherit" />
                        </div>*@
                        <div id="CardColor" style="color:#6e0d2c">
                            <input type="text" id="CardText" value="" readonly style="font-size:66px; color:inherit; font-family:inherit" />
                        </div>
                    </div>
                </div>
                <div class="col-sm" style="text-align:right">
                    Select Font<br />
                    <select asp-for="FontType" asp-items="Html.GetEnumSelectList<FontType>()" id="FontSelect" onchange="ChangeFont()"> </select>
                    <br />
                    <br />
                    <br />
                    Size of Text<br />
                    <select id="InputSize" asp-for="FontSize" onchange="textSize()">
                        <option value="25">20</option>
                        <option value="40">30</option>
                        <option value="50">40</option>
                        <option value="66" selected>50</option>
                        <option value="80">60</option>
                        <option value="90">70</option>
                        <option value="106">80</option>
                        <option value="120">90</option>
                        <option value="133">100</option>
                        <option value="160">120</option>

                    </select>
                    <br />
                    <br />
                    <br />
                    Color of text<br />
                    <input type="color" id="color" name="color" value="#6e0d2c" oninput="ChangeColour(value)">
                    @Html.HiddenFor(Model => Model.FontColour, new { id = "DataColour" })
                    <br />
                    <br />
                    <br />
                    Text on card<br />
                    <input type="text" id="InputText" asp-for="Message" onkeyup="textInput(value)" onchange="textInput(value)" />
                    <br />
                    <br />
                    <br />
                    @Html.HiddenFor(Model => Model.Image)
                    @Html.HiddenFor(Model => Model.Image.ImagePath, new { id = "DataUrl" })
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Nieuwe Kaart" name="New" class="btn btn-primary" />
                            <input type="submit" value="Naar E-mail" class="btn btn-info" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>

<style>
    #CardText {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        top: 10%;
        left: 50%;
        /*font-family:tim*/
        /*z-index: -1;*/
    }
</style>

@*<style>
    #CardText2 {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        top: 11%;
        left: 49%;
        /*z-index: -1;*/
    }
</style>*@
