@{

    ViewData["Title"] = "Home Page";
}
@model CardModel

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">

    function ChangeImage(url) {
        document.getElementById("main").src = url;
        document.getElementById("DataUrl").value = url;
    }

    function textInput(value) {
        document.getElementById("CardText").value = value
    }

    function ChangeFont() {
        var style = document.getElementById("FontSelect").value
        if (style == 0) {
            document.getElementById("CardText").style = "font-family:'Times New Roman', Times, serif"
        }
        else if (style == 1) {
            document.getElementById("CardText").style = "font-family:'Comic Sans MS'"
        }
        
    }



</script>



<div class="text-center">
    <h1 class="display-4">Welcome to the Christmas Card generator(tm)</h1>
</div>

<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="~/Images/1.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Images/2.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                <br /><br />
                <img src="~/Images/3.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Images/4.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                <br /><br />
                <img src="~/Images/5.jpg" width="100" height="140" onclick="ChangeImage(src)" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/Images/6.jpg" width="100" height="140" onclick="ChangeImage(src)" />
            </div>
            <div class="col-sm" style="text-align:center">
                <img id="main" src="~/Images/WhiteSpace.jpg" width="350" height="490" />
                <input type="text" id="CardText" value="" disabled="disabled" style="text-align:center;" />
            </div>
            <div class="col-sm" style="text-align:right">
                Select Font<br />
                <select asp-for="FontType" asp-items="Html.GetEnumSelectList<FontType>()" id="FontSelect" onchange="ChangeFont()"> </select>
                <br />
                <br />
                <br />
                Text on card<br />
                <input type="text" id="InputText" asp-for="Message" onkeyup="textInput(value)" onchange="textInput(value)" />
                <br />
                <br />
                <br />
                @Html.HiddenFor(Model => Model.Image)
                @Html.HiddenFor(Model => Model.Image.ImagePath, new { id = "DataUrl" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Nieuwe Kaart" name="New" class="btn btn-primary" />
                        <input type="submit" value="Naar E-mail" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<style>
    #CardText {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        position: absolute; 
        top: 100px;
        z-index: -1;
    }
</style>
